body {
  margin: 0;
  padding: 0;
}

.app {
  color: #282c3f;
}

.restro-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #342d28;
}

.status {
  color: #fc8019;
}

.restro-logo {
  padding: 10px;
  height: 8vmin;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

nav ul li:hover {
  color: #fc8019;
  transition: all 0.3s ease-in-out;
}

a {
  color: white;
  text-decoration: none;
}

.restro-body {
  padding: 15px;
  margin: 15px;
}

.restro-filter-container {
  display: flex;
}

.restro-search {
  margin: 10px;
}

.restro-filter {
  margin: 10px;
}

.search-input {
  margin: 3px;
  padding: 10px;
  color: #282c3f;
  font-size: calc(10px + 1vmin);
  border-radius: 3px;
  background: #f7dbc5;
  border: 1px solid #fc8019;
}

.search,
.filter {
  margin: 3px;
  color: #282c3f;
  background: #fc8019;
  border: 1px solid #282c3f;
  font-size: calc(10px + 1vmin);
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.restro-container {
  display: flex;
  flex-wrap: wrap;
}

.restro-card {
  width: 335px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  color: #02060ceb;
  border-radius: 5px;
  border: 2px solid #fc8019;
  background: #f7dbc5;
}

.restro-card-logo {
  height: 250px;
  width: 100%;
  border-radius: 3px;
}

.restro-card:hover {
  cursor: pointer;
  border: 2px solid #282c3f;
  transition: all 0.3s ease-in-out;
}

#error-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#network-status {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shimmer-filter-container {
  display: flex;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-filter {
  margin: 10px;
}

.shimmer-search-input {
  width: 250px;
  height: 40px;
  margin: 10px;
  border-radius: 3px;
  background: #f7eae1;
  border: 1px solid #eea971;
  opacity: 0.3;
}

.shimmer-btn {
  width: 125px;
  height: 40px;
  margin: 10px;
  background: #f7eae1;
  border: 0.5px solid #9a9ca0;
  border-radius: 3px;
  opacity: 0.5;
}

.shimmer-card {
  width: 335px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #f7eae1;
  border: 1px solid #eea971;
  opacity: 0.5;
}

.shimmer-image {
  width: 100%;
  height: 200px;
  border: 1px solid #eea971;
  border-radius: 5px;
  opacity: 0.5;
}

.shimmer-heading {
  width: 250px;
  height: 20px;
  opacity: 0.5;
  background: #f8bf91;
}

.shimmer-content {
  width: 200px;
  height: 20px;
  opacity: 0.3;
  background: #f5c59d;
}

.app-link {
  color: #fc8019;
}

label {
  border: 1px solid #282c3f;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  background-color: #282c3f;
  color: #fc8019;
}
